.team-display{
  display: flex;
  padding: 0;
  height: 100%;
  background-color: white;
  width: 100%;
}

.teams{
  width: 33.3%
}

.team-display-title{
  display: block;
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.team-display-list {
  display: flex;
  padding: 0 10px 0 0;
  width: 100%;
  height: 600px;
  overflow: scroll;
  flex-direction: column;
}

.team-logo {
  max-width: 125px;
  max-height: 125px;
}


.team-item {
  display: block;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.team-item:active {
  background-color: blue;
}

.team-item:hover {
    color: white;
    background-color: gray;
}

.team-show-container{
  width: 66.6%;
}

.trade-container{
  width: 100%;
}

.trade-header{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
}

.trade-team1, .trade-team2{
  display: block;
  position: absolute;
  text-align: center;
  font-size: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
}

.trade-team1{
  left: 1%;
  top: 1px;
}

.trade-team2{
  left: 50%;
  top: 1px;
}

.player{
  display: flex;
  flex-direction: column;
}

.player-name, .player-position{
  padding: 5px;
  font-size: 18px;
}

.player-name{
  border-top: solid black 1px;
  padding-top: 10px;
}

.trade-buttons{
  display: flex;
  background-color: black;
  color: white;
  height: 65px;
  justify-content: space-around;

}

.confirm-button, .propose-trade{
  display: block;
  position: relative;
  height: 40px;
  font-size: 16px;
  color: red;
  border: solid red;
  border-radius: 5px;
  border-width: thin;
  width: 20%;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  top: 10px;

}

.confirm-button:hover, .propose-trade:hover{
  border-color: green;
  color: green;
  cursor: pointer;
}

.confirm-button-lock, .propose-trade-lock{
  display: block;
  position: relative;
  height: 40px;
  font-size: 16px;
  color: green;
  border: solid green;
  border-radius: 5px;
  border-width: thin;
  width: 20%;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  top: 10px;
  text-decoration: none;
}

.errors{
  display: block;
  color: red;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.propose-trade{
  text-decoration: none;
  color: red;
}

.propose-trade-lock{
  color: yellow;
  border-color: yellow;
}

.propose-trade-lock:hover{
  color: green;
  border-color: green;
}

.propose-trade:hover{
  border-color: green;
  color: green;
  cursor: pointer;
}
