<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="http://media-cache-ak0.pinimg.com/736x/4e/8a/7a/4e8a7af526f77f88dff039782ee13a6d.jpg">
  <title>TradeMachine</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
